body{
    background-color: #ededed;
}
.contain{
    width: 70%;
    margin: 0 auto;
    margin-top: 100px;
}
.contain h1{
    font-family: 'Poppins', sans-serif !important;
    font-size: 60px!important;
    color:black;
    font-weight: 0;
    white-space: wrap;
    color:cornflowerblue;
}
.man{
    margin-top: 100px;
    width: 100%;
    float:left;
}
.compus{
    margin-left: 35px;
}
@media only screen and (max-width: 950px) {
    .contain{
        width: 90%;
        margin-left: 20px;
    }
}
.imagine{
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@-webkit-keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-200px * 6.22));
    }
}
  
@keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-200px * 6.22));
    }
}
.slider {
    background: transparent;
    height: 100px;
    overflow: clip;
    position: relative;
    width: 100%;
}
.slider::before, .slider::after {
    background: transparent;
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
}
.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}
.slider::before {
    left: 0;
    top: 0;
}
.slider .slide-track {
    -webkit-animation: scroll 20s linear infinite;
            animation: scroll 20s linear infinite;
    display: flex;
    width: calc(250px * 14);
}
.slider .slide {
    height: 100px;
    width: 250px;
}