*{
    box-sizing: border-box;
}
body{
    background-color: #ededed;
}
.contain{
    width: 70%;
    margin: 0 auto;
    margin-top: 100px;
}
.oameni{
    width: 100%;
    margin-top: 0px;
    margin-left: 50px;
}
.title h1{
    font-family: 'Poppins', sans-serif !important;
    font-size: 60px!important;
    color:black;
    font-weight: 0;
    white-space: wrap;
    color:cornflowerblue;
}
.flag{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
}
.legend, .common{
    width: 100%;
    display: flex;
    justify-content: center;
}
.img{
    width: 100px;
}

.column {
    float: left;
    width: 23%;
    min-width: 350px;
    height: 400px;
    padding: 30px;
    text-align: center;
    font-size: 25px;
    color: rgb(0, 0, 0);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    text-align: center;
    background-color: #efefef;
    margin-bottom: 10px;
    margin-right: 5px;
  }
  
  .containerTab {
    padding: 20px;
    color: white;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
@media only screen and (max-width: 900px) {
    .contain{
        margin-left: 40px;
    }
    .title{
        width: 90%;
        margin-bottom: 10px;
    }
    .column {
        float: left;
        width: 400px;
    }
}